.squareL {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  float:left;
  
  animation-name: squareMovL;
  animation-duration: 8s;
  animation-fill-mode: forwards;
 
}
.squareR {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  float:right;

  animation-name: squareMovR;
  animation-duration: 8s;
  animation-fill-mode: forwards;
 
}

.mid {
  width: 100vw;
  height: 10px;
  background-color: red;
  position: relative;
  top:50vh;

  animation-name: touchbar;
  animation-duration: 8s;
  animation-fill-mode: forwards;

}
.text {
  width: 100vw;
  position: relative;
  color: white;
  top:100px;
  text-align: center;
  font-size: 4em;

  animation-name: a;
  animation-duration: 8s;
  animation-fill-mode: forwards;

}
@keyframes squareMovL {
  0% {
    background-color: red;
    top:0vh;
    left:0vw;
  }
  50% {
    background-color: yellow;
    top:50vh;
    left:0vw;
  }
  100% {
    background-color: pink;
    left:47.5vw;
    top:50vh;
  }
}

@keyframes squareMovR {
  0% {
    background-color: red;
    top:0vh;
    right:0vw;
  }
  50% {
    background-color: yellow;
    top:50vh;
    right:0vw;
  }
  100% {
    background-color: pink;
    right:47.5vw;
    top:50vh;
  }
}

@keyframes touchbar {
  20% {
    background-color: red;
  }
  40% {
    background-color:yellow;
  }
  80% {
    background-color: yellow;
  }
  100% {
    background-color: pink;
  }
}
@keyframes a {
  90% {
    color:white;
  }
 
   100% {
    color: pink;
  }
}